<h1 class="hide-on-native">Editing contact</h1>

<%= render "form", contact: @contact %>

<br>

<div class="hide-on-native">
  <%= link_to "Show this contact", @contact %> |
  <%= link_to "Back to contacts", contacts_path %>
</div>
